{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.start) }}
{{ form_row(form.end) }}
<div class="range-wrap mb-6">
	{{ form_label(form.mood) }}
	{{ form_widget(form.mood) }}
	<output class="p-2 rounded-full bg-indigo-500 text-white text-xs"></output>
</div>
<button class="shadow-lg p-2 rounded-full bg-indigo-500 text-white hover:bg-indigo-900">
	<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
		<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
	</svg>
</button>
{{ form_end(form) }}
